{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#2196f3">
<meta name="description" content="Instant personalised podcast to listen to odd bits of audio around the web.">
<meta name="keywords" content="podcast, personal, instant, quick, mp3, my podcast">
<link rel="shortcut icon" href="{%static 'favicon.ico'%}"/>
<title>Podcast Ninja</title>
<link type="text/css" rel="stylesheet" href="{%static 'css/materialize.min.css'%}"  media="screen,projection"/>
