{% extends 'podcastninja/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="col s10 offset-s1 m8 offset-m2">
<p>Subscribe to your <a href="{% url 'feed' username=request.user.username %}">feed</a>.</p>

<p>Add another item to your feed:</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post" id="link-form">
  {% csrf_token %}
  {{ form.as_p }}
  <p>
  <button type="submit" class="blue darken-4 waves-effect waves-light btn">Add audio</button>
</form>
<br></br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pdcst.ninja apr 2015 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4813294374920381"
     data-ad-slot="6484091628"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h4>Your Feed</h4>
<div id="group_table"></div>
</div>
{%endblock%}
{% block morejs %}
<script src="{%static 'js/card_feed.js'%}"></script>
<script>
React.render(
     React.createElement(LinksTable, {url: "{%url 'api_podcast_collection' %}", pollInterval: 10000}),
     document.getElementById('group_table')
    );
</script>
{%endblock%}
